<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% load static %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body style='background:url("{% static 'faculityHome.jpg' %}")'>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Elearning Website</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" onclick=loadHtml('profile')>Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick=loadHtml('queries')>Queries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick=loadHtml('chatrequests')>Chat requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick=loadHtml('files')>Files</a>
            </li>
          </ul>
          <button onclick="window.location.href='logout'" class="btn btn-danger navbar-btn navbar-right" style='right:30px;'>Log Out</button>
        </div>
      </nav>
        <div class='row' >
        <div class="col-lg-10" id='rightPane'></div>
  </div>
  
  <script>
   
  </script>
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
        </div>
            <div class="modal-body">
            <div class="form-group">
          <input class="form-control " type="text" placeholder="Mohsin">
          </div>
          <div class="form-group">
          
          <input class="form-control " type="text" placeholder="Irshad">
          </div>
          <div class="form-group">
          <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
      
          
          </div>
        </div>
            <div class="modal-footer ">
          <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
        </div>
          </div>
      <!-- /.modal-content --> 
    </div>
        <!-- /.modal-dialog --> 
      </div>
        </div>
        </div>
    </body>
<script>
  function reject(id){
        $.post("faculitydeleterequest",{'id':id}, function( data ) {
            $("#rightPane").load('faculitymanagechats');
}
);
    }
    function loadHtml(option){
      if (option=='profile'){
        $("#rightPane").load("faculityprofile");
        focus();
      }
      else if (option=='queries'){
        $("#rightPane").load("faculitymanagequeries");
      }
      else if(option == 'chatrequests'){
        $("#rightPane").load("faculitymanagechats");
      }
      else if(option == 'files'){
        $("#rightPane").load("faculitymanagefiles");
      }   
    }
  $(document).ready(loadHtml('queries'));
    
        function deletefile(id){
          $.post( "faculitydeletefile",{'id':id}, function( data ) {
            $("#rightPane").load('faculitymanagefiles');
        });}      
    function accept(id){
        $.post("faculityacceptrequest",{'id':id}, function( data ) {
            $("#rightPane").load('faculitymanagefiles');
}
);
    }
    function focus(){
    document.getElementById('name').focus(); 
    document.getElementById('department').focus(); 
    document.getElementById('email').focus(); 
    document.getElementById('password').focus(); 
  }
  function viewfilerequests(id){
            $("#rightPane").load('showfilerequestlist?id='+id);
  }
    function updatefprofile(id){
      name=document.getElementById('name').value; 
    department=document.getElementById('department').value; 
    email=document.getElementById('email').value; 
    password=document.getElementById('password').value; 
    console.log({'name':name,'department':department,'email':email,'password':password})
    $.post("updatefaculityprofile",{'name':name,'department':department,'email':email,'password':password}, function( data ) {
            $("#rightPane").load('studentprofile');
}
);
    }
    function uploadfile(){
      var fd = new FormData();
        var files = $('#fileupload')[0].files;
        
        // Check file selected or not
        if(files.length > 0 ){
           fd.append('file',files[0]);

           $.ajax({
              url: 'faculityuploadfile',
              type: 'post',
              data: fd,
              contentType: false,
              processData: false,
              success: function(response){
                $("#rightPane").load("faculitymanagefiles");                 
              },
           });
        }else{
           alert("Please select a file.");
        }
    }
            
</script></html>