<div style='background-color: white;'>
              <div class="table-responsive">
                  <table id="mytable" class="responsive-table centered stripped">
                       <thead style='background-color: #26a69a; color: white '>
                       <th>Student Name</th>
                          <th>Edit</th>
                           <th>Delete</th>
                       </thead>
        <tbody>
        {% for request in requests %}
        <tr>
        <td>{{request.1}}</td>
        <td>
          <a class="waves-effect waves-light btn" onclick=accept("{{request.0}}")>Accept</a></td><td>
              <a class="waves-effect waves-light btn" onclick=reject("{{request.0}}")>Reject</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
                    
                </div>
                
        </div>
</div>