<div style='background-color: white;'>
         
           
              <div class="table-responsive">
  
                  
                  <table id="mytable" class="responsive-table centered stripped">
                       
                       <thead style='background-color: #26a69a; color: white '>
                       <th>Query Topic</th>
                          <th>Status</th>
                          
                           <th>Delete</th>
                       </thead>
        <tbody>
          {% for query in queries %}
        
        <tr>
        <td>{{query.1}}</td>
        
        {% if query.2 == None %}
        <td>
          <a class="waves-effect waves-light btn" onclick=showquery({{query.0}})>Not replied</a></td>
        <td>
          {% else %}
          <td>
            <a class="waves-effect waves-light btn" onclick=showquery({{query.0}})>replied</a></td>
          <td>
          {% endif %}
          <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" onclick=deletequery({{query.0}}) ><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
        {% endfor %}
                </tbody>
            <script>
              function deletequery(id){
             $.post( "faculitydeletequery",{'id':id}, function( data ) 
             {
                $("#rightPane").load('faculitymanagequeries');});
              }
              function showquery(id){
                window.open('displayqueryinfo?id='+id,'_blank');
              }
            </script>
    </table>
    
                    
                </div>
                
        </div>
</div>