
  <div class="row" style='background-color: white  ;'>
    <form class="col-lg-8">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" value='{{profile.1}}' class="validate">  
          <label for="name">Name</label>
        </div>
        
      <div class="row">
        <div class="input-field col s12">
          <input id="phone" type="Number" value='{{profile.4}}' class="validate">
          <label for="phone">Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" value='{{profile.2}}' class="validate">
          <label for="email">Email</label>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" value='{{profile.3}}' class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      </div>
    </form>
    <a onclick='updateprofile({{profile.0}})' class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>update</a>

  </div>
  <script>
    document.getElementById('name').focus(); 
    document.getElementById('phone').focus(); 
    document.getElementById('email').focus(); 
    document.getElementById('password').focus(); 
  </script>