<p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs"  data-toggle="modal" data-target="#newquery" >New Query</button></p>
<div style='background-color: white;'>
         
           
              <div class="table-responsive">
  
                  
                  <table id="mytable" class="responsive-table centered stripped">
                       
                       <thead style='background-color: #26a69a; color: white '>
                       <th>Query Topic</th>
                          <th>Status</th>
                          
                           <th>Delete</th>
                       </thead>
        <tbody>
          {% for query in queries %}
        
        <tr>
        <td>{{query.1}}</td>
        
        {% if query.2 == 'pending' %}
        <td>
          <a class="waves-effect waves-light btn" onclick=showquery({{query.0}})>Not replied</a></td>
        <td>
          {% else %}
          <td>
            <a class="waves-effect waves-light btn" onclick=showquery({{query.0}})>replied</a></td>
          <td>
          {% endif %}
          <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" onclick=deletequery({{query.0}}) ><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
        {% endfor %}
                </tbody>
            <script>
              function deletequery(id){
             $.post( "faculitydeletequery",{'id':id}, function( data ) 
             {
                $("#rightPane").load('faculitymanagequeries');});
              }
              function showquery(id){
                window.open('displayqueryinfo?id='+id,'_blank');
              }
            </script>
    </table>
                </div>    
        </div>
</div>
<div id="newquery" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="form-group">
          <label for="newtitle">Query Title</label>
          <input type="text" class="form-control" id="newtitle">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newdescription">description:</label>
          <textarea class="form-control" rows="5" id="newdescription"></textarea>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick=newquery()>Submit</button>
      </div>
    </div>

  </div>
</div>
<script>
  function newquery(){
    title=document.getElementById('newtitle').value
    description=document.getElementById('newdescription').value
    if(title == '' || description == '' ){
            alert('values cannot be empty');
            return;
          }
    $.post('newquery',{'title':title,'description':description},function(){
      $('#rightpane').load('studentmanagequeries');
    })
  }
</script>