
<div style='background-color: white;'>
              <div class="table-responsive">
                  <table id="mytable" class="responsive-table centered stripped">
                       <thead style='background-color: #26a69a; color: white '>
                       <th>faculity name</th>
                          <th>Status</th>
                           <th>Action</th>
                       </thead>
        <tbody>
        {% for faculity in faculities %}
        <tr>
        <td>{{faculity.1}}</td>
        {% if faculity.2 == None %}

        <td>Not Yet Requested</td>
        <td>
              <a class="waves-effect waves-light btn" onclick=chatrequest("{{faculity.0}}",'no')>Request</a>
        </td>
        {% elif faculity.2 == 'rejected' %}
        <td>rejected</td>
        <td>
              <a class="waves-effect waves-light btn" onclick=chatrequest("{{faculity.0}}",'yes')>Request again</a>
        </td>
        {% elif faculity.2 == 'accepted' %}
        <td>accepted</td>

        {% elif faculity.2 == 'pending' %}
        <td>pending</td>
        {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
                    
                </div>
                
        </div>
</div>