*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.float-left{
    position: relative;
    top: 70px;
    left: 180px;
}
.float-right{
    position: relative;
    top: 70px;
    right: 180px;
}
#btn1{
    position: relative;
    top: 356px;
    left: -28px; 
}
#btn2{
    position: relative;
    top: 353px;
    left: 576px; 
}