<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <button type="button" id="btn11" class="btn btn-primary a" onclick='window.location.href="faculity"'>Faculity</button>
        <button type="button" id="btn2" class="btn btn-primary a" onclick='window.location.href="student"'>Student</button>
</body>
<style>
    #btn11{
    position: relative;
    top: 356px;
    }
    .a{
        background-color: yellow;
        color:red;
        margin:0;
        position:absolute;
        left:40%
    }
</style>
</html>
